<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/css/articleLayout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<!-- navigation bar -->
<div class="nav">
    <ul>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/article/:id">ARTICLES</a></li>
        <li><a href="">VIDEOS</a></li>
        <li><a href="">SCHEDULE</a></li>
        <li><a href="">STANDINGS</a></li>
        <li style="float: right"><a class="active" href="/login">LOGIN</a></li>
        <li style="float: right"><a class="active" href="/regist">SIGNUP</a></li>
    </ul>
</div>

<div class=""></div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div style="text-align: center;" class="contenctImg" ><img style="height: 600px;" src="/public/img/W22_Qualified_Teams.png"></div>
        <h1 style="text-align: center;">Worlds 2022 Primer</h1>
        <h5 style="text-align: center;">SEPTEMBER 14, 2022 - BY LOLESPORTS STAFF</h5>
        <p style="text-align: center;">Learn more about the 2022 League of Legends World Championship in North America.</p>
        <br><br>
        <p>It’s time for the 2022 League of Legends World Championship! The tournament will kick off September 29 in the Arena Esports Stadium at Artz Pedregal in Mexico City.</p>
        <h3>What is the World Championship?</h3>
        <p>The League of Legends World Championship (also known as Worlds) is the premier yearly international tournament that brings together the top teams to compete for the Summoner’s Cup and earn the title of World Champion. More than 800 players on 100+ professional League of Legends esports teams compete across a dozen leagues globally throughout the year to qualify for the tournament. The event moves between host regions each year; this year, four cities across North America will play host to the various tournament stages.</p>
        <h3>When is Worlds happening?</h3>
        <p>Worlds begins with the Play-In Stage on September 29 and will conclude with Finals on November 5. Individual stage dates are listed below.</p>
        <h3>What’s the format?</h3>
        <p>Worlds is composed of three stages: the Play-In Stage, the Group Stage, and the Knockout Stage (Quarterfinals, Semifinals, and Finals). A detailed breakdown of each stage is below.</p>
        <h3>Where will Worlds take place?</h3>
        <p>Worlds 2022 will kick off on September 29 in Mexico City and will culminate on November 5 in San Francisco.</p>
        <ul>
            <li>Play-Ins: September 29-October 4 at the Arena Esports Stadium at Artz Pedregal in Mexico City, Mexico;</li>
            <li>Groups: October 7-10 and October 13-16 at Hulu Theater at Madison Square Garden in New York City;</li>
            <li>Quarterfinals: October 20-23 at Hulu Theater at Madison Square Garden in New York City;</li>
            <li>Semifinals: October 29-30 at State Farm Arena in Atlanta, Georgia;</li>
            <li>Finals: November 5 at Chase Center in San Francisco, California</li>
        </ul>
        <h3>Which teams are competing?</h3>
        <p>A region’s seeds are based on past international performance. Consistently strong regions send some of their seeds straight to the Group Stage, whereas other regions receive fewer seeds and/or start in the Play-In Stage.</p>
        <img style="height: 400px;" src="/public/img/W22_Qualified_Teams.png" alt="">
        <h3>How are these teams split into their Groups?</h3>

        <h3>Play-In Stage</h3>
        <p>The 12 teams starting in the Play-In Stage were split into three pools:</p>
        <ul>
            <li>Pool A consisted of RNG, DRX, FNC, and BYG.</li>
            <li>Pool B consisted of MAD, EG, SGB, and DFM.</li>
            <li>Pool C consisted of CHF, IW, ISG, and LOUD.</li>
        </ul>
        <p>We drew these teams into the two Play-In groups on September 11. Each Play-In group contains two Pool A teams, two Pool B teams, and two Pool C teams. No team may be in the same group as another team from their region.</p>
        <h3>Group Stage</h3>
        <p>The twelve teams starting in the Group Stage were split into three pools:</p>
        <ul>
            <li>Pool A consisted of JDG, GEN, RGE, and C9.</li>
            <li>Pool B consisted of CFO, T1, TES, and G2.</li>
            <li>Pool C consisted of 100T, SGB, DK, and EDG.</li>
        </ul>
        <p>We drew these teams into the four Group Stage groups. Each group contains one team from each of the draw pools. As with the Play-In groups, no team may be in the same group as another team from their region. In the case where a team is drawn into a position that would either directly violate this rule, or could force this rule to be violated by a future draw, the team will move to the next available group slot.</p>
       <h3>Play-In Stage: September 29-October 4</h3>
        <p>The 12 Play-in teams were split into two groups of six teams each. Each team will play one game against every other team in their group. Following these games, the top team in each group will automatically advance to the Group Stage. The third- and fourth-place teams will play a best-of-five, with winners challenging the other group’s second seed for the last two spots. These matches will determine the final two Play-In teams that will move on to the Group Stage. Following the conclusion of all matches of the Play-Ins, the four teams that have advanced will be drawn randomly into the existing Group Stage groups.</p>
       <h3>Group Stage: October 7-10; October 13-16</h3>
        <p>The top four teams from the Play-in Stage will join the 12 teams who directly qualified for the Group Stage. These 16 teams will be split into four groups of four, with each competitor playing against every team in their group twice. The top two teams from each of the four groups will advance to the Knockout Stage.</p>
       <h3>Knockout Stage: Oct. 20-23 (Quarterfinals); Oct. 29-30 (Semifinals); Nov. 5 (Finals)</h3>
       <p>Eight teams move on to the Knockout Stage, which encompasses Quarterfinals, Semifinals, and Finals. For this stage, the tournament transitions to a single-elimination bracket with all matches played in a best-of-five format. Matchups are decided by an on-stage draw following the final day of the Group Stage. The team that comes out on top will become the 2022 World Champions.</p>
    </div>
    <div class="card">
      <form action="" id="usrform">
        Name: <input type="text" name="usrname">
        <input type="submit">
      </form>
      <br>
      <textarea placeholder="Enter comments here." rows="4" cols="50" name="comment" form="usrform"></textarea>
    </div>
  </div>
  
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="contenctImg" ><img style="height:200px;" src="/public/img/600px-LoL_World_Championship_2022.png"></div>
      <p>The 2022 World Championship is the crowning event of League of Legends esports for the year. The tournament welcomes 24 teams from all regions of the game in a months-long race for the Summoner's Cup.</p>
    </div>
    
  </div>
  
</div>
<div class="footer">
  <div class="row">
    <div class="column">
      <div class="fcard">
        <h2>NEWS</h2>
        <P>ARTICLES</P>
        <P>VIDEOS</P>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>SCHEDULE</h2>
        <P>PLAY IN GROUPS</P>
        <P>PLAY IN KNOCKOUTS</P>
        <P>GROUPS</P>
        <P>KNOCKOUTS</P>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>STANDINGS</h2>
        <P>Worlds</P>
        <P>North America</P>
        <P>China</P>
        <P>Korea</P>
        <p>Europe</p>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>CONTACT ME</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-reddit"></a>
      </div>
    </div>
  </div>

</body>
</html>
