<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/css/blogLayout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- header -->
<div class="header">
  <h2></h2>
</div>

<!-- navigation bar -->
<div class="nav">
    <ul>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/article/:id">ARTICLES</a></li>
        <li><a href="">VIDEOS</a></li>
        <li><a href="">SCHEDULE</a></li>
        <li><a href="">STANDINGS</a></li>
        <li style="float: right"><a class="active" href="/login">LOGIN</a></li>
        <li style="float: right"><a class="active" href="/regist">SIGNUP</a></li>
    </ul>
</div>


<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><a href="/article/:id">Worlds 2022 Primer</a></h2>
      <h5>SEPTEMBER 14, 2022 - BY LOLESPORTS STAFF</h5>
      <div class="contenctImg" ><img style="height:200px;" src="/public/img/W22_Qualified_Teams.png"></div>
      <p>Learn more about the 2022 League of Legends World Championship in North America.</p>
      <p>It’s time for the 2022 League of Legends World Championship! The tournament will kick off September 29 in the Arena Esports Stadium at Artz Pedregal in Mexico City.</p>
    </div>
    <div class="card">
      <h2>LoL Esports and Lil Nas X debut ‘STAR WALKIN,’ the anthem of Worlds 2022.</h2>
      <h5>SEPTEMBER 22, 2022 - BY LOLESPORTS STAFF</h5>
      <div class="contenctImg" ><img style="height:200px;" src="/public/img/WMV_Article_Header.png"></div>
      <p>First order of business: Make Worlds 2022 the most talked about Worlds in history, starting with the beloved Worlds Music Video and Anthem</p>
      <p>The President of League of Legends Lil Nas X and LoL Esports are ready to reveal this year’s highly anticipated World Championship anthem: ‘STAR WALKIN’. Created by Lil Nas X, ‘STAR WALKIN’ is a fresh new take on the Worlds anthem that celebrates LoL Esports fans and pro players alike</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="contenctImg" ><img style="height:200px;" src="/public/img/600px-LoL_World_Championship_2022.png"></div>
      <p>The 2022 World Championship is the crowning event of League of Legends esports for the year. The tournament welcomes 24 teams from all regions of the game in a months-long race for the Summoner's Cup.</p>
    </div>
    
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="column">
      <div class="fcard">
        <h2>NEWS</h2>
        <P>ARTICLES</P>
        <P>VIDEOS</P>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>SCHEDULE</h2>
        <P>PLAY IN GROUPS</P>
        <P>PLAY IN KNOCKOUTS</P>
        <P>GROUPS</P>
        <P>KNOCKOUTS</P>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>STANDINGS</h2>
        <P>Worlds</P>
        <P>North America</P>
        <P>China</P>
        <P>Korea</P>
        <p>Europe</p>
      </div>
    </div>
    <div class="column">
      <div class="fcard">
        <h2>CONTACT ME</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-reddit"></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
